.answer-options {
    display : flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    width: 100%;
    row-gap: 10px;
    padding-bottom: 20px;
}

.quiz hr {
    border-top: 1px solid #DBDEF0;
    margin-left: 0;
}

.quiz h2 {
    color: #293264;
    font-family: Karla;
    font-size: 16px;
    font-weight: 700;
}

.answer-option {
    border: 0.794px solid #4D5B9E;
    border-radius: 7.942px;
    width: auto;
    min-width: 65.922px;
    height: 20.65px;
    flex-shrink: 0;
    color: #293264;
    text-align: center;
    font-family: Inter;
    font-size: 10.24px;
    font-weight: 500;
    margin-right: 10px;
}

.answer-option:hover {
    cursor: pointer;
    border: 0.794px solid #D6DBF5;
}

